/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  height: 3000px;
}

.inner {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
.strong {
  font-weight: 800;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  box-sizing: border-box;
  border: 2px solid currentColor;
  border-radius: 5px;
}

.btn--reverse {
  background-color: #00704a;
  border-color: #00704a;
  color: white;
}

.btn--reverse:hover {
  text-decoration: underline;
}

.btn--white {
  border-color: white;
  color: white;
}

.btn--white:hover {
  text-decoration: underline;
}

.btn--light__green {
  border-color: #00704a;
  color: #00704a;
  transition: 0.4s;
}

.btn--light__green:hover {
  color: white;
  background-color: #00704a;
  text-decoration: underline;
}

.btn--gold {
  border-color: #b9813e;
  color: #b9813e;
  transition: 0.4s;
}

.btn--gold:hover {
  color: white;
  background-color: #b9813e;
  text-decoration: underline;
}

.btn--black {
  color: #000;
  border-color: #000;
  transition: 0.4s;
}

.btn--black:hover {
  color: white;
  background-color: #000;
  text-decoration: underline;
}

/* HEADER */
header {
  position: fixed;
  width: 100%;
  background-color: #f6f5ef;
  border-bottom: 1px solid #c8c8c8;
  top: 0;
  z-index: 1;
}

header > .inner {
  background-color: #f6f5ef;
  height: 120px;
}

header .inner .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  height: 75px;
}

header .inner .logo img {
  display: block;
}

header .inner .sub_menu {
  display: flex;
  position: absolute;
  right: 20px;
  top: 10px;
}

header .inner .sub_menu .menu {
  display: flex;
}

header .inner .sub_menu .menu li {
  line-height: 32px;
}

header .inner .sub_menu .menu li:not(:last-child)::after {
  content: '|';
  font-size: 12px;
  color: #c8c8c8;
}

header .inner .sub_menu .menu li a {
  font-size: 12px;
  color: #656565;
  padding: 10px 15px;
  text-decoration: none;
}

header .inner .sub_menu .menu li a:hover {
  text-decoration: underline;
}

header .inner .search {
  position: relative;
}

header .inner .search input {
  width: 40px;
  height: 34px;
  transition: width 0.4s;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

header .inner .search input:focus {
  width: 180px;
  outline-color: green;
}

header .inner .search span {
  position: absolute;
  font-size: 24px;
  height: 24px;
  top: 0;
  bottom: 0;
  right: 3px;
  margin: auto;
}

/* MAIN MENU */

header .inner .main_menu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}

header .inner .main_menu .item {
}

header .inner .main_menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-size: 13px;
}

header .inner .main_menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  cursor: pointer;
  text-decoration: underline;
}

header .main_menu .item .item__contents {
  position: fixed;
  width: 100%;
  left: 0;
  display: none;
}

header .main_menu .item:hover .item__contents {
  display: block;
}

header .main_menu .item .item__contents .item__contents__menu {
  background-color: #2c2a29;
  padding: 20px 0px;
  width: 100%;
}

header .main_menu .item .item__contents .item__contents__menu .inner {
  display: flex;
  flex-wrap: wrap;
}

header .main_menu .item .item__contents .item__contents__menu .inner > li {
  width: 200px;
  padding: 0 20px 0 0;
}

header .main_menu .item .item__contents .item__contents__menu .inner > li > a {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

header
  .main_menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a:hover {
  text-decoration: underline;
}

header .main_menu .item .item__contents .item__contents__menu .inner > li > ul {
}

header
  .main_menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li {
  font-size: 12px;
  color: #999;
  margin: 5px 0;
}

header
  .main_menu
  .item
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li:hover {
  cursor: pointer;
  text-decoration: underline;
}

header .main_menu .item .item__contents .item__contents__additional {
  background-image: url('../images/main_menu_pattern.jpg');
  padding: 20px 0;
  width: 100%;
}

header .main_menu .item .item__contents .item__contents__additional .inner {
}

header .main_menu .item .item__contents .item__contents__additional .inner > a {
  display: block;
  font-size: 12px;
  color: #999;
  text-decoration: none;
  margin-top: 5px;
}

header
  .main_menu
  .item
  .item__contents
  .item__contents__additional
  .inner
  > a:hover {
  text-decoration: underline;
}

header .main_menu .item .item__contents .item__contents__additional .inner > p {
  font-size: 12px;
  color: #669900;
}

/* BADGES */
header .badges {
  position: absolute;
  top: 150px;
  right: 20px;
}

header .badges .badge {
}

header .badges .badge > a {
}

header .badges .badge > a > img {
}

/* visual */
.visual {
  background-image: url('../images/visual_bg.jpeg');
  width: 100%;
  height: 500px;
  margin-top: 120px;
}

.visual .inner {
  position: relative;
  height: 646px;
}

.visual .inner .slogun {
  position: absolute;
  top: 88px;
  opacity: 0;
  transition: 0.4s;
}

.visual .inner .slogun > img {
  opacity: 0;
  transition: 0.4s;
}

.visual .inner .slogun > .btn {
  display: block;
  width: 129px;
  height: 38px;
  color: #1c3831;
  border: 2px solid #1c3831;
  font-size: 15px;
  line-height: 38px;
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  transition: background-color 0.5s;
  text-decoration: none;
  margin-top: 30px;
  opacity: 0;
  transition: 0.4s;
}

.visual .inner .slogun > .btn:hover {
  color: white;
  text-decoration: underline;
  background-color: #1c3831;
}

.visual .inner .image {
  position: absolute;
}

.visual .inner .image.item_1 {
  width: 260px;
  top: 88px;
  right: 210px;
  opacity: 0;
  transition: 0.4s;
}

.visual .inner .image.item_2 {
  width: 590px;
  top: 200px;
  left: 30px;
  opacity: 0;
  transition: 0.4s;
}

.visual .inner .image.item_3 {
  width: 370px;
  bottom: 50px;
  right: -120px;
  opacity: 0;
  transition: 0.4s;
}

.visual .inner:hover .image.item_1 {
  opacity: 1;
  transition-delay: 0.4s;
}

.visual .inner:hover .image.item_2 {
  opacity: 1;
  transition-delay: 0.8s;
}

.visual .inner:hover .image.item_3 {
  opacity: 1;
  transition-delay: 1.2s;
}

.visual .inner:hover .slogan .btn {
  display: block;
  opacity: 1;
  transition-delay: 1.6s;
  width: 130px;
  margin-top: 10px;
}

/* notice */
.notice {
  margin-top: 20px; /* 원래는 없는 것 */
}

.notice .notice_line {
  position: relative;
}

.notice .notice_line .bg_left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111111;
}

.notice .notice_line .bg_right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice_line .inner {
  height: 62px;
  display: flex;
}

.notice .notice_line .inner .inner__left {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #111111;
  display: flex;
  align-items: center;
  color: #f6f5ef;
}

.notice .notice_line .inner .inner__left h1 {
  font-weight: bold;
  position: absolute;
  left: 0;
}

.notice .notice_line .inner .inner__left .swiper_container {
  position: absolute;
  left: 80px;
  flex-grow: 1;
  font-size: 14px;
}

.notice .notice_line .inner .inner__left a {
  position: absolute;
  right: 20px;
  color: #f6f5ef;
}

.notice .notice_line .inner .inner__left a span {
  font-size: 36px;
  vertical-align: bottom;
}

.notice .notice_line .inner .inner__right {
  position: relative;
  width: 40%;
  height: 100%;
  background-color: #f6f5ef;
  display: flex;
  align-items: center;
  color: #111111;
}

.notice .notice_line .inner .inner__right h1 {
  font-weight: bold;
  position: absolute;
  left: 200px;
}

.notice .notice_line .inner .inner__right a {
  position: absolute;
  right: 50px;
  color: #111111;
}

.notice .notice_line .inner .inner__right a span {
  font-size: 36px;
  vertical-align: bottom;
}

/* REWARDS */

.rewards {
  background-color: #1e3932;
}

.rewards .inner {
  padding: 30px 0 40px 0;
  display: flex;
  gap: 20px;
}

.rewards .inner > a {
}

.rewards .inner > a > img {
  width: 176px;
  display: block;
}

.rewards .inner .rewards__items {
  flex-grow: 1;
}

.rewards .inner .rewards__items .rewards__items__register {
  position: relative;
  padding: 00 12px 0;
  box-shadow: 0 0.5px #c8c8c8;
}

.rewards .inner .rewards__items .rewards__items__register p {
  display: block;
  font-size: 17px;
  color: white;
}

.rewards .inner .rewards__items .rewards__items__register p.subject {
  margin-bottom: 10px;
  font-size: 26px;
}

.rewards .inner .rewards__items .rewards__items__register .buttons {
  position: absolute;
  right: 0;
  bottom: 12px;
}

.rewards .inner .rewards__items .rewards__items__card {
  position: relative;
  padding-top: 20px;
}

.rewards .inner .rewards__items .rewards__items__card p {
  font-size: 14px;
  color: white;
}

.rewards .inner .rewards__items .rewards__items__card .buttons {
  position: absolute;
  right: 0;
  top: 20px;
}

/* PERU */
.peru {
  position: relative;
  background-image: url('../images/peru_bg.jpg');
  height: 570px;
  overflow: hidden;
}

.peru::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  background-image: url('../images/peru_bg_left.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
}

.peru::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  background-image: url('../images/peru_bg_right.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

.peru .inner {
  height: 500px;
}

.peru .inner .img_product {
  display: block;
  position: absolute;
  width: 281px;
  top: 130px;
  left: 270px;
  transform: translate(-500px, 0);
  transition: 2.5s;
}

.peru .inner:active .img_product {
  transform: translate(0px, 0);
  opacity: 1;
}

.peru .inner .peru__contents {
  position: absolute;
  top: 160px;
  right: 0px;
  transform: translate(500px, 0);
  transition: 2.5s;
  opacity: 0;
}

.peru .inner:active .peru__contents {
  transform: translate(0px, 0);
  opacity: 1;
}

.peru .inner .peru__contents > img {
  width: 427px;
}

.peru .inner .peru__contents .btn {
  display: block;
  width: 125px;
  margin-top: 40px;
}

/* indonesia */
.indonesia {
  position: relative;
  background-image: url('../images/indonesia_bg.jpg');
  overflow: hidden;
  height: 400px;
}

.indonesia::before {
  content: '';
  position: absolute;
  left: -200px;
  bottom: 0;
  display: block;
  background-image: url('../images/indonesia_bg_left.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 373px;
  height: 277px;
}

.indonesia::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -300px;
  display: block;
  background-image: url('../images/indonesia_bg_right.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 563px;
  height: 305px;
}

.indonesia .inner {
}

.indonesia .inner .indonesia__img {
  position: absolute;
  left: -300px;
}

.indonesia .inner .indonesia__title {
  position: absolute;
  top: 120px;
  width: 496px;
}

.indonesia .inner .btn--gold {
  position: absolute;
  top: 270px;
  left: 230px;
  display: block;
  width: 125px;
  height: 38px;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  border: 2px solid #b9813e;
  border-radius: 5px;
  box-sizing: border-box;
}

/* FAVORITE */
.favorite {
  background-image: url('../images/fav_bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  overflow: hidden;
}

.favorite .inner {
  height: 800px;
}

.favorite .inner .favorite__title_1 {
  position: absolute;
  width: 258px;
  top: 120px;
  left: 108px;
  transform: translate(-600px, 0);
  transition: 2s;
}

.favorite .inner .favorite__title_2 {
  position: absolute;
  width: 362px;
  top: 370px;
  transform: translate(-600px, 0);
  transition: 2.5s;
}

.favorite .inner .favorite__img {
  position: absolute;
  top: 120px;
  right: -120px;
}

.favorite .inner:hover .favorite__title_1,
.favorite .inner:hover .favorite__title_2 {
  transform: translate(0px, 0);
}

.favorite .inner .btn {
  position: absolute;
  top: 580px;
  left: 238px;
  transition: 1.5s;
}

.favorite .inner .btn {
  opacity: 1;
}

/* MAGAZINE */
.magazine {
  background-image: url('../images/magazine_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  overflow: hidden;
}

.magazine .inner {
  height: 400px;
}

.magazine .inner .magazine__title {
  position: absolute;
  padding-top: 135px;
  padding-left: 55px;
  margin: 0 auto;
}

.magazine .inner .magazine__img {
  position: absolute;
  bottom: auto;
  top: 0;
  right: 50%;
  margin-right: -483px;
}

.magazine .inner .btn {
  position: absolute;
  top: 70%;
  left: 360px;
}

/* FIND STORE */
.store {
  background-image: url('../images/store_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  overflow: hidden;
}

.store .inner {
  height: 400px;
}

.store .inner .store__img_1 {
  position: absolute;
  height: 228px;
  top: 149px;
  left: 390px;
  width: 228px;
  z-index: 5;
}

.store .inner .store__img_2 {
  position: absolute;
  height: 312px;
  top: 0;
  left: 160px;
  width: 366px;
  z-index: 4;
}

.store .inner .store__img_3 {
  height: 142px;
  left: 520px;
  position: absolute;
  top: -60px;
  width: 343px;
  z-index: 4;
}

.store .inner .store__img_4 {
  height: 102px;
  position: absolute;
  right: 30px;
  top: 298px;
  width: 230px;
  z-index: 4;
}

/* FOOTER */

footer .inner {
  height: 214;
}

footer .inner .footer__left .menu {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  /* display: inline-block; */
  /* left: 50%; */
  /* position: relative; */
}

footer .inner .footer__left .menu:not(:last-child) {
  margin-right: 20px;
}

footer .inner .footer__left .menu > ul {
  list-style: none;
}

footer .inner .footer__left .menu > ul > li {
  display: block;
}
